@font-face {
    font-family: 'Graphik-med';
    src: url(../assets/fonts/Graphik-Medium.woff);
}
@font-face {
    font-family: 'Graphik-reg';
    src: url(../assets/fonts/Graphik-Regular.woff);
}